@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@600&family=Lato&family=Nunito+Sans:wght@600&family=Nunito:wght@500&family=Open+Sans&family=Poppins:wght@500&family=Raleway:wght@500&family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.page {
  scroll-snap-align: start;
}
